.MainContainer{
    font-family: "Poppins";
    background-color: #FBFCFF;
}
.Navbar{
    background-color: #2E76FA;
    padding: 15px 25px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    color: white;
    margin-bottom: 20px;
}
.Navbar a{
    color: white;
    text-decoration: none;
}
i{
    margin-right: 10px
}
.ContentArea{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 175px;
    padding: 0px 25px;
}
.Sidebar .SidebarLink{
    text-decoration: none;
    color: #555C6A;
    font-size: 13px;
}
.SidebarOption{
    margin-bottom: 8px;
}
.ProfileImage{
    height: 80px;
    width: 70px;
    border-radius: 100%;
}
.ProfileSection{
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.InfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.StudentName{
    font-size: 20px;
    font-weight: 600;
    margin: 8px;
}
.StudentDetails{
    font-size: 13px;
    margin: 0px 8px;
}