.MainContainer{
    font-family: "inter", sans-serif;
    background-color: #FBFCFF;
}
.Navbar{
    background-color: #2E76FA;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    color: white;
    margin-bottom: 20px;
}
.Navbar a{
    color: white;
    text-decoration: none;
}
i{
    margin-right: 10px
}
.ContentArea{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    padding: 0px 25px;
}
.Sidebar .SidebarLink{
    text-decoration: none;
    color: #555C6A;
    font-size: 13px;
}
.SidebarOption{
    margin-bottom: 8px;
}
.ProfileImage{
    height: 80px;
    width: 70px;
    border-radius: 100%;
}
.ProfileSection{
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.InfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.StudentName{
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
}
.StudentDetails{
    font-size: 13px;
    margin: 0px 8px;
    color: #555C6A
}
.EditProfileButton{
    margin-left: 50px;
    margin-top: 8px;
    padding: 8px 12px;
    background-color: #2E76FA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
}
.OverviewSection{
    background-color: white;
    margin-top: 25px;
    padding: 25px;
    width: 100%;
    display: flex;
}
.OverviewSectionText{
    margin-right: 50px;
}
.OverviewSectionTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.OverviewText{
    font-size: 13px;
    margin-bottom: 5px;
    color: #555C6A;
}
.Bar{
    width: 15px;
    border-radius: 5px;
}
.ChartBars{
    display: flex;
    flex-direction: row;
    
}
.PresentBar{
    height: 90px;
    background-color: #71C4B0;
}
.AbsentBar{
    height: 10px;
    background-color: #F98282;
}
.OverviewChartContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}
@media (max-width: 800px){
    .Navbar{
        flex-direction: row;
        height: 50px;
        min-width: 700px;
        text-align: center;
    }
    .Sidebar{
        font-size: 10px;
    }
}